@microbusiness:registry=http://mortezaalizadeh.ddns.net:8081/repository/microbusiness-npm/
@fingermenu:registry=http://mortezaalizadeh.ddns.net:8081/repository/microbusiness-npm/
//mortezaalizadeh.ddns.net:8081/repository/microbusiness-npm/:_authToken=NpmToken.4345e642-9640-3669-a14a-02569a7084be
